html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif
}
.s-max-width-1400{
	max-width:1400px;
}
.s-width-100pr{
	width:100%;
}

.s-width-55pr{
	width:55%;
}
.s-width-25pr{
	width:25%;
}
.s-width-20pr{
	width:20%;
}
.s-height-24{
	height:24px;
}
.s-name{
    color: white !important;
    text-shadow: black 1px 1px 10px !important;
    font-family: serif !important;
}
.s-link {
    color: #673ab7!important;
    background-color: #fff!important;
	text-decoration: blink;
}
.s-padding-bottom{
	padding-bottom: 16px;
}